<!DOCTYPE html>
<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Rick Beerendonk" />

    <title>Watchers - Computed Property vs Watch</title>
    <link rel="stylesheet" href="../../../../resources/oblicum.css" />
  </head>
  <body>
    <div id="app">
      <label> First name: <input v-model="firstName" /> </label>
      <label> Last name: <input v-model="lastName" /> </label>
      <p>Via computed: {{ fullNameViaComputed }}</p>
      <p>Via watch: {{ fullNameViaWatch }}</p>
    </div>

    <script type="module" src="main.js"></script>
  </body>
</html>
