<!DOCTYPE html>
<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Rick Beerendonk" />

    <title>Form Input Bindings - Basics - Select - Dynamic</title>
    <link rel="stylesheet" href="../../../../resources/oblicum.css" />
  </head>
  <body>
    <div id="app">
      <select v-model="selected">
        <option v-for="option in options" v-bind:value="option.value">
          {{ option.description }}
        </option>
      </select>
      <h1>{{selected}}</h1>
    </div>

    <script type="module" src="main.js"></script>
  </body>
</html>
